<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconsfsv"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Esto se ocupa en el Home Activity -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Esto se ocupa en el Profile Activity -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Esto se ocupa en el edit profile -->
        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>