<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/iconsfsv"
        android:label="@string/app_name"
        android:theme="@style/Theme.SurteFacilSV">

        <!-- Home Activity -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.SurteFacilSV.NoActionBar" />

        <!-- Profile Activity -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.SurteFacilSV.NoActionBar" />

        <!-- Edit Profile Activity -->
        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.SurteFacilSV.NoActionBar" />

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.SurteFacilSV.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Product List Activity -->
        <activity
            android:name=".ProductListActivity"
            android:theme="@style/Theme.SurteFacilSV.NoActionBar" />

        <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.SurteFacilSV.NoActionBar" />

        <!-- Dashboard Cliente Activity -->
        <activity
            android:name=".DashboardClienteActivity"
            android:exported="false"
            android:theme="@style/Theme.SurteFacilSV.NoActionBar" />

        <!-- Pedidos Activity -->
        <activity
            android:name=".PedidosActivity"
            android:label="Mis Pedidos"
            android:parentActivityName=".DashboardClienteActivity"
            android:theme="@style/Theme.SurteFacilSV" />

        <!-- Catalogo Activity - COREJIDO -->
        <activity
            android:name=".CatalogoActivity"
            android:label="Catálogo de Productos"
            android:parentActivityName=".DashboardClienteActivity"
            android:theme="@style/Theme.SurteFacilSV.NoActionBar" />

        <!-- Carrito Activity - NUEVA -->
        <activity
            android:name=".CarritoActivity"
            android:label="Carrito de Compras"
            android:parentActivityName=".DashboardClienteActivity"
            android:theme="@style/Theme.SurteFacilSV.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDcXchIFRo4NVfq-mdiEiH4cVmJ8d4hjWw"/>

        <activity android:name=".MapActivity"
            android:theme="@style/AppThemeMap.NoActionBar" />

        <activity
            android:name=".ConfirmacionPedidoActivity"
            android:exported="false"
            android:parentActivityName=".CarritoActivity" />

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>
